<div class="well">
  <h4>About A.N.C.I.R.</h4>

  <p>
    The African Network of Centers for Investigative Reporting (ANCIR) is an association of the continent’s best investigative newsrooms, ranging from large traditional media to small specialist units.
  </p>

  <p>
    ANCIR works to strengthen African investigative journalism by improving the techniques, expertise, the tools used in muckraking newsrooms. This includes providing member newsrooms with the world’s best encryption and semantic analysis technologies, to forensic research support (through the <a href="http://investigativedashboard.org" target="_blank">Investigative Dashboard</a>, legal services, and seed grants for cross-border collaboration.
  </p>

  <p>
    ANCIR receives technology support from <a href="http://www.codeforafrica.org" target="_blank">Code for Africa</a>.
  </p>
</div>
