@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

$ancir-color-red: #f04a20;
$ancir-color-orange: #ff6908;
$ancir-color-red-alt: #e82324;
$ancir-color-gray-light: #626262;
$ancir-color-gray-dark: #262626;

$ancir-color-cream: #f8d68b;

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  padding-top: 59px;
}

h1, h2, h3, h4, h5, h6, .btn {
  font-family: 'Lora', serif;
  span {
    color: $ancir-color-red;
  }
}

footer {

  .links {
    background: #000000 url("/static/img/bg/footer.png") no-repeat bottom center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;

    a {
      color: #ffffff;
      &:hover {
        color: $ancir-color-red;
      }
      .fa-stack {
        .fa-inverse {
          color: #000000;
        }
      }
    }

    .col-sm-3 {
      border-right: 1px solid rgba(255,255,255,0.5);
      &:last-child {
        border-right: 0;
      }
    }
  }

  .copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    a {
      color: #000000;
      font-weight: bold;
      &.cfafrica {
        color: $ancir-color-red;
      }
    }
  }
}

section {
  padding: 40px 0;
}

header {
  padding: 40px 0;
  background-color: #000000;
}


.btn {
  border-radius: 0;
  background-color: transparent;
  border: 2px solid #000000;
  color: #000000;
  &:hover {
    border-color: #000000;
    background-color: #000000;
    color: #ffffff;
  }
}

.btn-warning {
  border-color: $ancir-color-orange;
  color: $ancir-color-orange;
  &:hover {
    border-color: $ancir-color-orange;
    background-color: $ancir-color-orange;
  }
}

.btn-danger {
  border-color: $ancir-color-red-alt;
  color: $ancir-color-red-alt;
  &:hover {
    border-color: $ancir-color-red-alt;
    background-color: $ancir-color-red-alt;
  }
}

.btn-inverse {
  border-color: #ffffff;
  color: #ffffff;
  &:hover {
    background-color: #ffffff;
    color: #000000 !important;
  }
}

.btn-cream {
  border-color: $ancir-color-cream;
  color: $ancir-color-cream;
  &:hover {
    border-color: $ancir-color-cream;
    background-color: $ancir-color-cream;
  }
}

.text-cream {
  color: $ancir-color-cream;
}
