<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{page.title}} - A.N.C.I.R</title>
  <meta name="description"
        content="ANCIR strengthens African investigative journalism by improving the expertise, sustainability and production capacity in muckraking newsrooms.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/jpg" href="/static/img/ancir-logo-tiny.png">

  <link href="/static/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span class="visible-lg">
          <span class="text-ancir-red">ANCIR:</span> AFRICAN NETWORK OF CENTRES FOR INVESTIGATIVE REPORTING
        </span>
        <img class="hidden-lg" style="height: 45px; margin-top: -10px;" alt="ANCIR Logo" src="/static/img/ancir-logo-tiny.png"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group input-group-inverse">
          <input type="text" class="form-control" placeholder="SEARCH">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-1x fa-search"></i></button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://www.facebook.com/AfricaInvestigated" target="_blank">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li><a href="https://twitter.com/AfricanCIR" target="_blank">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="hidden-xs" style="height: 59px;"></div>
<div class="visible-xs" style="height: 50px;"></div>

{{ content }}

<footer>
  <div class="links">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-3 col-sm-offset-3">
          <p><a href="#">About Us</a></p>
          <p><a href="#">Our Work</a></p>
          <p><a href="#">Join Us</a></p>
          <p><a href="#">Support Us</a></p>
        </div>
        <div class="col-sm-3">
          <h1>Connect</h1>
          <p>
            <a href="https://www.facebook.com/AfricaInvestigated" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="https://twitter.com/AfricanCIR" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="https://medium.com/african-c-i-r" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="https://github.com/ANCIR" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="mailto:hello@investigativecenters.org" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </p>
        </div>
        <div class="col-sm-3">
          <h1>Newsletter</h1>
          <p><a class="btn btn-lg btn-inverse" href="#">JOIN OUR MAILING LIST</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright container">
    <div class="row">
      <div class="col-sm-9">
        <p>© ANCIR 2015</p>
        <p>
          ANCIR is not responsible for the content of external sites |
          <a href="#">Privacy Policy</a> |
          <a href="#">PAIA Manual</a> |
          <a href="#">Terms of Use</a>
        </p>
      </div>
      <div class="col-sm-3 text-right">
        <p>ANCIR is being incubated by <a href="http://www.codeforafrica.org" target="_blank" class="cfafrica">Code for Africa</a></p>
      </div>
    </div>
  </div>
  <!-- /.copyright.container -->
</footer>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins.js"></script>

<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
        function () {
          (b[l].q = b[l].q || []).push(arguments)
        });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-44795600-1');
  ga('send', 'pageview');
</script>
</body>
</html>
