<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{page.title}} - A.N.C.I.R</title>
  <meta name="description"
        content="ANCIR strengthens African investigative journalism by improving the expertise, sustainability and production capacity in muckraking newsrooms.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/jpg" href="/static/img/logo.jpg">

  <link href="/static/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span>ANCIR:</span> AFRICAN NETWORK OF CENTRES FOR INVESTIGATIVE REPORTING</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group input-group-inverse">
          <input type="text" class="form-control" placeholder="SEARCH">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-1x fa-search"></i></button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li><a href="#">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

{{ content }}

<footer class="container">
  <div class="row logos">
    <div class="col-md-4 text-left">
      <h4>Established With Funding From:</h4>
      <a href="http://africannewschallenge.org" target="_blank"><img src="/static/img/anic.png" alt=""
                                                                     style="max-height:65px;"/></a>
    </div>
    <!-- /.col-md-4 -->

    <div class="col-md-4 text-center">
      <br/>

      <p><b/>Follow Us On</b></p>
      <a href="https://www.facebook.com/AfricaInvestigated" target="_blank" class="btn btn-lg btn-primary">
        <i class="fa fa-lg fa-facebook"></i>
      </a>
    </div>

    <div class="col-md-4 text-right">
      <h4 style="margin-bottom: 0;">Technical partners:</h4>

      <p>
        <a href="http://www.codeforafrica.org/" target="_blank"><img src="/static/img/c4a-2.png" alt=""/></a>
      </p>
    </div>
  </div>
  <!-- /. row -->
</footer>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins.js"></script>

<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
        function () {
          (b[l].q = b[l].q || []).push(arguments)
        });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-44795600-1');
  ga('send', 'pageview');
</script>
</body>
</html>
