---
layout: post
---

<div class="row">
    <div class="col-md-4">
      <br/>
      <div class="well">
        <h4>When:</h4>
        <p>{{ page.when }}</p>
        <p>---</p>
        <h4>Where:</h4>
        <p>{{ page.where }}</p>
        <p>---</p>
        <p><a href="{{ page.addthisevent }}" target="_blank" class="btn btn-block btn-danger"><i class="glyphicon glyphicon-calendar"></i> Add to Calendar</a></p>
        <p><a href="{{ page.registration }}" target="_blank" class="btn btn-block btn-default"><i class="glyphicon glyphicon-list-alt"></i> Registration Form</a></p>
      </div>
    </div>
    <div class="col-md-8">
      {{ content }}
    </div>
</div>
