---
layout: default
---

<div class="container">
  
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">{{ page.title }}</li>
  </ol>

  <div class="page-header">
    <h2>{{ page.title }}</h2>
  </div>

  <p class="text-muted "><em>Posted: {{ page.date | date_to_string }}</em></p>
  
  <div class="row">
    <div class="col-md-8">
      {{ content }}
    </div>
    <div class="col-md-4">
      <div class="well">
        <h4>About A.N.C.I.R.</h4>
        <p>The African Network of Centers for Investigative Reporting (ANCIR) is an association of the continent’s best investigative newsrooms, ranging from large traditional media to small specialist units.</p>
        <p>ANCIR works to strengthen African investigative journalism by improving the techniques, expertise, the tools used in muckraking newsrooms. This includes providing member newsrooms with the world’s best encryption and semantic analysis technologies, to forensic research support (through the <a href="http://investigativedashboard.org" target="_blank">Investigative Dashboard</a>, legal services, and seed grants for cross-border collaboration.</p>
        <p>ANCIR is underwritten by the continent’s largest association of media owners and operators, the <a href="http://africanmediainitiative.org" target="_blank">African Media Initiative (AMI)</a> and receive technology support from <a href="http://www.codeforafrica.org" target="_blank">Code for Africa</a>.</p>
      </div>
    </div>
  </div>

  <br/>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'ancir'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>
